<?xml version="1.0" encoding="utf-8"?>

<!--
http://developer.android.com/tools/publishing/versioning.html
android version can be change at build.gradle
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.nemysolutions.hapme">


    <!--<android.support.v7.widget.Toolbar xmlns:android="http://schemas.android.com/apk/res/android"-->
        <!--android:id="@+id/toolbar"-->
        <!--android:layout_width="match_parent"-->
        <!--android:layout_height="wrap_content"-->
        <!--android:minHeight="?attr/actionBarSize"-->
        <!--android:background="?attr/colorPrimary"-->
        <!--android:theme="@style/ThemeOverlay.AppCompat.Dark.ActionBar"-->
        <!--android:popupTheme="@style/ThemeOverlay.AppCompat.Light" />-->

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="sg.nemysolutions.hapme.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="sg.nemysolutions.hapme.permission.C2D_MESSAGE" />

    // Required for communicating with the Myo device
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- FOR PUSH SERVICE -->
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="sg.nemysolutions.hapme.pushnotifications" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <!-- END PUSH SERVICE -->

        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".CreateActivity"
            android:label="@string/title_activity_create" >
        </activity>
        <activity
            android:name=".AddActivity"
            android:label="@string/title_activity_add" >
        </activity>
        <activity
            android:name=".OperationActivity"
            android:label="@string/title_activity_operation" >
        </activity>
        <activity
            android:name=".CommandsActivity"
            android:label="@string/title_activity_commands" >
        </activity>
        <activity
            android:name=".JoinActivity"
            android:label="@string/title_activity_join" >
        </activity>
        <activity
            android:name=".AddMemberName"
            android:label="@string/title_activity_add_member_name"
            android:parentActivityName=".CreateActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sg.nemysolutions.hapme.CreateActivity" />
        </activity>
    </application>

</manifest>
